button {
    font-family: inherit;
    cursor: pointer;
    transition: var(--transition-smooth);
    border: none;
}

.btn-primary {
    background: var(--buttons-color);
    font-size: .9rem;
    letter-spacing: .5px;
}
.btn-animation{
    color: var(--text-contrast);
    border-radius: 50px;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}
.btn-animation:hover{
    background: var(--buttons-color-transition);
    transform: translateY(-3px);
}
.btn-secondary {
    background: transparent;
    color: var(--text-primary);
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 1px;
}
.btn-contrast{
    color: var(--text-contrast);
    background: transparent;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: color .1s ease-out, font-size .1s ease-out;
}